@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply min-h-screen min-w-full flex overflow-hidden bg-white;
}

.btn {
  @apply bg-white font-bold text-black rounded-2xl py-3 px-8;
}

.btn:hover {
  @apply bg-slate-50;
}

input {
  @apply rounded-md p-2 bg-white w-full;
}

h1 {
  @apply text-4xl font-extrabold;
}

.navbar-menu {
  height:100%;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
  transition: all 0.5s ease;
  
}
.burger-wrapper{
  display:flex;
  justify-content: flex-end;
  padding:6px 0 6px 0;
  height: 60px;
  
}
.burger {
  padding: 25px 8px 0px 0px;
  cursor: pointer;
}
.navbar__list {
  list-style-type: none;
  color: black;
  
}
.navbar__li {
  display: inline-block;
  padding:0px 0px 0px 12px;
  position: relative;
  top:2.5px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 38px;
  color: black;
  font-family: "Lato";
  font-weight: bold;
}
.navbar__li-box:first-child {
  margin-top:53px;
  
}
.navbar__li-box {
  height: 43px;
  margin-top:15px;
}
.navbar__li-box:hover {
  border-left: 7px solid #58b5fc;
  cursor: pointer;
}

.wrapper {
  @apply bg-white w-full p-6 rounded-md;
  min-height: 75vh;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.10); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.10);
}

.input-custom {
  @apply rounded-md p-2 bg-lightBlueColor w-full;
}

.btn {
  @apply rounded-full p-2 bg-main w-full;
}

.active-menu {
  @apply bg-white;
}