@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply min-h-screen min-w-full flex flex-col;
  background: linear-gradient(180deg, #0289F5 0%, #4466E2 100%); 
}

.bg-blueColor {
  background: linear-gradient(180deg, #0289F5 0%, #4466E2 100%);
}
.btn {
  @apply bg-mainColor font-bold text-white rounded-lg;
}

.btn:hover {
  @apply opacity-70;
}

input {
  @apply rounded-twenty p-4 bg-greyColor w-full;
}

h1 {
  @apply text-mainColor text-4xl font-extrabold;
}

.avatar {
  @apply h-16 w-16;
}

.avatar-login  {
  @apply h-20 w-20;
}

.wrapper {
  @apply bg-white w-full h-full p-6 rounded-md;

  -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.10); 
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.10);
}

.input-custom {
  @apply rounded-twenty p-4 bg-lightBlueColor w-full h-16;
}


.active-menu {
  @apply bg-white;
}

.scrollable-div {
  @apply overflow-auto h-screen;
}